doctype html

html
  head
    title Website
    link(rel="stylesheet", href="//cdn.jsdelivr.net/npm/reset.css@2.0.2/reset.min.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Lato:300")
    link(rel="stylesheet", href="/css/base.css")
    block styles
  body
    block content
    
    script(src="/js/base.js")
    block scripts
